{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HySpaceFly - наслаждайтесь!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        {% block custom_header %}
            {% block add_header %}{% endblock %}
            {% if request.user.is_authenticated %}
                <a class="login-logout-but" href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a class="login-logout-but" href="{% url 'login' %}">Войти</a>
            {% endif %}
        {% endblock %}
    </header>
    {% block body_block %}
    {% endblock %}
    <footer></footer>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>