{% extends "main/base.html" %}
{% load static %}

{% block title %}HySpaceFly - Профиль{% endblock %}
{% block profile_href %}{% endblock %}
{% block body_block %}
    <h1>Профиль</h1>

    <style>
        html {
            background-image: url("../..{{ back.preview.url }}");
        }
    </style>
    <p>Привет, {{ user }}!</p>
        <p>Уровень: {{ user.progress.lvl }}</p>
        <p>Опыт: {{ user.progress.xp }}</p>
        <p><a class="button" href="{% url 'index' %}" title="Сыграть в игру">Сыграть в игру</a></p>

{% endblock %}
