@font-face {
    font-family: 'SpaceAge';
    src: url("../fonts/SpaceAge.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoRegular';
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="file"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

    border: 0;
    padding: 0;

    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}
html {
    font-family: 'LatoRegular', serif;
    font-size: 2vh;
    line-height: 2.5vh;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #011634;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    /*100% 100%*/
    overflow: hidden;
}
a {
    color: white;
}
h1 {
    word-break: break-all;
    font-family: 'SpaceAge', serif;
    font-size: 3vh;
    line-height: 3.5vh;
}
h1 .large {
    font-size: 7vh;
    line-height: 7.5vh;
}
h1 .small {
    font-size: 2vh;
    line-height: 2.5vh;
}
img {
    max-width: 100%;
    height: auto;
}
.game_h1 {
    margin: 0 auto;
    text-align: center;
    transition: opacity 1s ease-out 0s;
    /*position: absolute;*/
    /*z-index: 2;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}
.game_h1.playing {
    opacity: 0.1;
}
.game_bang {
    width: 25vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}
@keyframes game_bang_activate {
    0% {
        opacity: 0.5;
        transform: scale(0.01, 0.01);
    }
    60% {
        opacity: 1;
        transform: scale(4, 4);
    }
    80% {
        opacity: 1;
        transform: scale(4, 4);
    }
    100% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
}
.game_bang_activate {
    animation-name: game_bang_activate;
    animation-duration: 2s;
}
.game_snag {
    position: absolute;
    width: 10vh;
    top: 0;
    left: 0;
}
.game_character {
    position: absolute;
    max-width: 20vw;
    height: auto;
}
.game_character img {
    max-width: 20vw;
}
/*  # TODO animation_forward_left
    # TODO animation_forward_right
    # TODO animation_forward_middle
    # TODO animation_bang
*/
:root {
  --snag-anim-translate-x: 32vw;
  --snag-anim-translate-y: 45vh;
}
@keyframes game_snag_animation {
    0% {
        opacity: 0.5;
        transform: scale(0.01, 0.01);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: scale(2, 2) translate(var(--snag-anim-translate-x), var(--snag-anim-translate-y));
        opacity: 0;
    }
}
.game_snag_animation {
    animation-name: game_snag_animation;
    animation-duration: 3s;
    animation-timing-function: linear;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-but {
    border: none;
    border-radius: 2%;
    opacity: 0.5;
    display: inline-block;
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 9vh;
    height: 9vh;
}
.header-but:hover,
.header-but:focus {
    opacity: 1;
}
.login-logout-but {
    background-image: url('../img/login-logout.png');
}
.game_play {
    background-image: url('../img/game_play.png');
}
.game_play--playing {
    background-image: url('../img/game_play--playing.png');
}
.profile-but {
    background-image: url('../img/profile.png');
}
.shop-but {
    background-image: url('../img/shop.png');
}
.index-but {
    background-image: url('../img/logo.png');
}
.game_progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: opacity 1s ease-out 0s;
}
.game_progress.playing {
    opacity: 0.2;
}
.game_progress.playing:hover,
.game_progress.playing:focus {
    opacity: 1;
}
.game_progress__lvl_n_xp_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.game_progress__lvl_n_xp_wrapper > * {
}
.game_progress__lvl {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background-color: #c7b7d6;
    color: #6d4592;
    font-family: 'SpaceAge', serif;
    font-size: 2.7vh;
    line-height: 3vh;
    overflow: hidden;
}

.game_progress__xp,
.game_progress__hp {
    position: relative;
    margin-left: 2vh;
    border-radius: 2.5vh;
    width: 17vh;
    height: 5vh;
    overflow: hidden;
}
.game_progress__xp_title,
.game_progress__hp_title {
    font-family: 'SpaceAge', serif;
    font-size: 1.7vh;
    line-height: 2vh;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 1.5vh;
    top: 1.5vh;
}
:root {
    --base_xp: 100;
    --curr_xp: 0;
    --base_hp: 1000;
    --curr_hp: 1000;
}
.game_progress__xp_user,
.game_progress__hp_user {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    background-color: #c7b7d6;
    color: white;
}
.game_progress__xp_user {
    width: calc((100 * var(--curr_xp) / var(--base_xp)) * 1%);
}
.game_progress__hp_user {
    width: calc((100 * var(--curr_hp) / var(--base_hp)) * 1%);
}
.game_progress__xp_100_per,
.game_progress__hp_100_per {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #6d4592;
    color: white;
}
.you_died {
    position: absolute;
    top: 0;
    left: 0;
    color: darkred;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 10vh;
    line-height: 11vh;
    opacity: 0;
    z-index: -999;
    transition: z-index 1s ease-out 0s, opacity 1s ease-out 0s;
}
.you_died.active {
    opacity: 0.7;
    z-index: 999;
}