@font-face {
    font-family: 'SpaceAge';
    src: url("../fonts/SpaceAge.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="file"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

    border: 0;
    padding: 0;

    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}
html {
    color: white;
    overflow: hidden;
}
h1 {
    font-family: 'SpaceAge', serif;
    font-size: 4vw;
    text-align: center;
}
h1 .large {
    font-size: 7vw;
}
h1 .small {
    font-size: 2vw;
}
img {
    max-width: 100%;
    height: auto;
}
.game_play {
    border: none;
    border-radius: 2%;
    width: 5vw;
    height: 5vw;
}
.game_h1 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}
.game_h1:hover {
    opacity: 1 !important;
}
.game_h1.game_h1_of {
    opacity: 0.1;
    transition-timing-function: ease;
}
@keyframes game_h1_off {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
.game_h1_off {
    animation-name: game_h1_off;
    animation-duration: 2s;
}
.game_bang {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}
@keyframes game_bang_activate {
    0% {
        opacity: 0.5;
        transform: scale(0.01, 0.01);
    }
    60% {
        opacity: 1;
        transform: scale(4, 4);
    }
    80% {
        opacity: 1;
        transform: scale(4, 4);
    }
    100% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
}
.game_bang_activate {
    animation-name: game_bang_activate;
    animation-duration: 2s;
}
.game_snag {
    position: absolute;
    top: 0;
    left: 0;
}
.game_character {
    position: absolute;
    left: calc(50% - 200px);
    top: calc(70% - 125px);
}
/*  # TODO animation_forward_left
    # TODO animation_forward_right
    # TODO animation_forward_middle
    # TODO animation_bang
*/
:root {
  --snag-anim-translate-x: 32vw;
  --snag-anim-translate-y: 45vh;
}
@keyframes game_snag_animation {
    0% {
        opacity: 0.5;
        transform: scale(0.01, 0.01);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: scale(2, 2) translate(var(--snag-anim-translate-x), var(--snag-anim-translate-y));
        opacity: 0;
    }
}
.game_snag_animation {
    animation-name: game_snag_animation;
    animation-duration: 4s;
}